.coin-page .row > *{
    margin-right: 10px;
}

.coin-page .coin-price {
    font-size: 70px;
    font-weight: 100;
    color: #1652f0;
}

.coin-page .chart {
    height: 600px;
}

.coin-page .coin-card {
    width: 19%;
    border-radius: 5px;
    display: block;
    box-sizing: border-box;
    padding: 20px;
}

@media (width < 1000px) {
    .coin-page #coin-main-row {
        flex-direction: column;
    }

    .coin-page #coin-changes {
        flex-direction: column;
    }

    .coin-page .coin-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: none;
        width: 100%;
    }

    .coin-page .col-2 {
        width: 100%;
    }
}